@import "tailwindcss";

:root {
  --bg-main: #020617;
  --bg-soft: #0f172a;
  --accent: #3b82f6;
  --accent-2: #8b5cf6;

  --text-main: #e2e8f0;
  --text-soft: #94a3b8;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

@theme inline {
  --color-background: var(--bg-main);
  --color-foreground: var(--text-main);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(59, 130, 246, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(139, 92, 246, 0.15),
      transparent 40%
    ),
    var(--bg-main);

  color: var(--text-main);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

.admin-input {
  @apply w-full px-4 py-2.5
  border border-gray-300
  rounded-lg text-sm text-gray-800
  placeholder:text-gray-500
  bg-white
  shadow-sm
  outline-none
  focus:ring-2 focus:ring-[#54ACBF]/40
  focus:border-[#54ACBF]
  transition;
}

.admin-label {
  @apply text-sm font-semibold text-gray-800;
}